.invoicePage__image-container {
    display: flex;
    justify-content: center;
}

.invoicePage__title {
    text-align: center;
    font-weight: normal;
}

.invoicePage__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    width: 95%;
    max-width: 800px;
    padding: 20px;
}

.invoicePage__table tfoot {
    font-weight: bold;
}

.invoicePage__table tfoot {
    border-top: 1px solid var(--light-gray);
}

.invoicePage__table tfoot tr td:first-of-type {
    padding-right: 24px;
    text-align: right;
}