.count {
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    min-width: 200px;
    width: fit-content;
    height: fit-content;
    font-size: var(--h5-font-size);
    text-align: center;
}

.count__title {
    background-color: var(--light-gray);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 8px;
}

.count__content {
    padding: 8px;
}

/* Small screen size */
@media screen and (max-width: 450px) {
    .count {
        min-width: 184px;
    }
}