.salesReport {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.salesReport__chartContainer {
    width: 80%;
    height: 230px;
}